.sidenav{
    background-color: rgb(73, 73, 73);
    width: 280px;
}

.sidenav a{
    color: white !important;
    flex-direction: row;
    display: flex;

}

.sidenav a i{
    color: white !important;
    align-items: center;

}


.list{
    color: white !important;
    align-items: center;

}

.list a{
    color: white !important;
    align-items: center;
}

.sidenav a:hover{
    background-color: #62afe6;
    align-items: center;

}