.header{
    background-color: #62afe6;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    box-shadow: inset 0px -5px 5px 0px  rgb(73, 73, 73);
}

.header a{
    display:flex;
    align-items: center;
    text-decoration: none;
    padding: auto;
}

.header .logo{
    height: 130px;
    align-items: center;
}	

.header .title-group{
    font-size: 20px;
}

.header .title-group i {
    padding-left: 30px;
    padding-right: 15px;
}